/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Yuji+Syuku&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* FIN */

/* NAVBAR */
.brand {
    font-family: 'Yuji Syuku', serif;
    float: left;
    padding: 10px;
    background-color: #fccf0c;
    font-size: 1.8rem;
}
.brand:hover {
    background-color: #f9e377;
}
.nav {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style-type: none;
}
li {
    float: left;
}
li > a {
    display: inline-block;
    text-align: center;
    padding: 20px;
    letter-spacing: 1.7px;
    font-weight: bold;
    font-size: 0.9rem;
}
li:hover {
    background: #fccf0c;
}
.iconoCarrito {
    float: right;
    padding: 13px;
    background-color: #fccf0c;
}
.iconoCarrito:hover {
    background-color: #f9e377;
}