/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Yuji+Syuku&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/* FIN */

.mensaje {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    float: right;
    padding: 12px;
}